{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Channel W Esports Media Management{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/htmx.js' %}"></script>
</head>
<body>
    {% include 'components/nav.html' %}
    {% block content %}{% endblock %}
    {% include 'components/footer.html' %}
</body>
</html>
